.buttonCreate{
    height:45px;
    width: 100px;
    /* border: none; */
    border-radius: 20px;
    /* border-bottom-right-radius: 20px; */
    cursor: pointer;
    background-color: rgb(109, 23, 131);
    color: rgb(106, 202, 202);
    box-shadow: 0px 5px #8c40ca;
    margin-bottom: 2em;
    margin-top: 2em;
    margin-left: 2em;
    text-decoration: none;
    border: solid 2px #c182eb;
}
.buttonCreate:hover{
    background-color: rgb(170, 239, 248);
    color:#dba8eb;
    box-shadow: 0px 5px rgb(240, 147, 234);
}

.NavLink{
    text-decoration: none;
    height:45px;
    width: 100px;
    /* border: none; */
    border-radius: 20px;
    /* border-bottom-right-radius: 20px; */
    cursor: pointer;
    background-color: rgb(109, 23, 131);
    color: rgb(106, 202, 202);
    box-shadow: 0px 5px #8c40ca;
    margin-bottom: 2em;
    margin-top: 2em;
    margin-left: 2em;
    text-decoration: none;
    border: solid 2px #c182eb;
}

.NavLink:hover{
    background-color: rgb(170, 239, 248);
    color:#dba8eb;
    box-shadow: 0px 5px rgb(240, 147, 234);
}
.logo{
    position: absolute;
    height:75px;
    width:75px;
    left: 120px;
    top: 5px;
    border-radius: 40px;
    border: solid 3px #c182eb;
    margin-right: 60px;
    
}

.buttonSearch{
    height:27px;
    width: 100px;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    background-color: #289bc817;
    color: rgb(106, 202, 202);
    box-shadow: 0px 5px #8c40ca;
    border: solid 2px #c182eb
}
.buttonSearch:hover{
    background-color: rgb(170, 239, 248);
    color:#dba8eb;
    box-shadow: 0px 5px rgb(240, 147, 234);
}

.navBar{
    display:inline-flex;
    width:100%;
    height: 80px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    /* background: #af67eb; */
    background: linear-gradient(0deg, rgb(240, 147, 234) 10%, rgb(109, 23, 131) 30%);
}
.inputSearch{
    height:25px;
    width: 400px;
    border: none;
    padding-left: 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: 0;
    box-shadow: 0px 5px #8c40ca;
    
}