.App {
  /* color:#5adbe4; */
  text-align: center;
  justify-content: center;
  word-spacing: normal;
  background: url('./assets/11111.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* display: grid;
		grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
		padding: 50px;
		grid-gap: 20px;
		justify-content: center; */



    /* background-size: cover;  */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}
  /* background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw; */
  /* border-radius: 12px; */


body {
  
  background-image: url('./assets/123456.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: cover(30px);
    height: 100vh;
    width: 100vw; 
    flex-direction: center;
}
    /* background: url('/home/jesuan/Documentos/PI (Proyecto Individual)/PI-Videogames-main/client/src/components/images/1132186.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */

    /* position: auto; */
    /* height: 120vh;
    width: 80vw; 
    /* margin-top: 100; */
    /* margin-left: 100;
    margin-right: 100;
    margin-bottom: 100;
    padding-top:0;  */

  /* background-image: url(); */
  /* background-size: cover;
  background-repeat: no-repeat;
  flex-direction: center;
  /* position: fixed; */
  /* height: 100vh;
  width: 100vw;  */
  /* background-image: url('./assets/mau.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(1px); */
/* 
  align-items: center;
  justify-content: center;
  display: flex; */

/* } */
.App-logo {
  height: 40vmin;
  pointer-events: none;
  background-color: #a766a1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    display: grid;
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
		padding: 50px;
		grid-gap: 20px;
		justify-content: center;
  }
}

.App-header {
  background-color: #a766a1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(199, 150, 238);
}

.App-link {
  color: #1971d6;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  position: absolute;
  top: 400px;
  height: 60px;
  width: 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: normal;
  border: 2px solid #f8a2f1;
  color: rgb(93, 19, 153);
  background: rgb(172, 91, 238);
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  justify-content: space-around;
}

.button:hover {
  background: #5adbe4;
} 