.button{
    height:50px;
    width: 100px;
    /* border: none; */
    border-radius: 20px;
    /* border-bottom-right-radius: 20px; */
    cursor: pointer;
    /* background-color: rgb(109, 23, 131); */
    /* background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    color: rgb(106, 202, 202);
    box-shadow: 0px 5px #8c40ca; */
    /* margin-bottom: 4em; */
    /* margin-top: 2em;
    margin-left: 2em; */
    text-decoration: none;
    /* border: solid 2px #c182eb; */
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
    color: rgb(109, 23, 131);
    box-shadow: 0px 5px #8c40ca;
    border: solid 2px #c182eb;
    position:absolute;
    bottom: 80px;
    right: 50px;

}
.button:hover{
    color: rgba(17, 169, 207, 0.842);
    background: #a6c1ee;
    background: linear-gradient(to top,#a6c1ee 10%, #fbc2eb 100%);
    box-shadow: 0px 5px #a6c1ee;
}

.NavLink{
    text-decoration: none;
}

.containerFather{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnVolver{
    align-self: flex-start;
}

.input{
    background-color: transparent;
    outline: none;
    border: 2px solid #8c40ca;
    max-width: 14em;
}


.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    border: 2px solid #8c40ca;
    border-radius:20px;
    margin: 0em 0em 0em 0em;
    margin-bottom:0.5em;
    margin-top:0.5em;
    width: 45em;
    height: 48em;
    color: rgb(42, 170, 187);
    box-shadow: 0px 5px rgb(109, 23, 131);
    background-color: rgba(0, 0, 0, 0.164);
    backdrop-filter: blur(3px);
}

.titulo{
    grid-column: 1/3;
    color:rgba(17, 169, 207, 0.842)
}
/* 
.info{ */
    /* background-color: rgb(183, 123, 233); */
    /* background: linear-gradient(0deg, rgb(240, 147, 234) 20%, rgb(109, 23, 131) 40%, rgb(240, 147, 234) 100%);
    grid-column: 3/4;
    grid-row: 1/9;
    margin: 1em 1em;
} */

/* .info p{
    margin-top: 2em;
} */

.name{
    margin-top: -4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2em;
    margin-bottom: 2em;
    background-color: transparent;
    grid-column: 1/2;
    grid-row: 2/3;
    color: rgba(17, 169, 207, 0.842); 
    
}

.released{
    margin-top: -4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2em;
    grid-column: 2/3;
    grid-row: 2/3;
    color: rgba(17, 169, 207, 0.842); 
}

.rating{
    margin-top: -10em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2em;
    grid-column: 1/2;
    grid-row: 3/4;
    color: rgba(17, 169, 207, 0.842); 
}

.image{
    margin-top: -10em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2em;
    grid-column: 2/3;
    grid-row: 3/4;
    color: rgba(17, 169, 207, 0.842); 
}

.genre{
    margin-top: -16em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2em;
    grid-column: 1/2;
    grid-row: 4/5;
    margin-bottom: 1em;
    color: rgba(17, 169, 207, 0.842); 
}

.platforms{
    margin-top: -16em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2em;
    grid-column: 2/3;
    grid-row: 4/5;
    color: rgba(17, 169, 207, 0.842);   
}

.pla{
    color:rgb(50, 111, 190);
}
.gen{
    color:rgb(50, 111, 190);
}


.description{
    display: flex;
    /* flex-direction: row-reverse; */
    margin-left: 2em;
    margin-bottom: 2em;
    grid-column: 1/2;
    grid-row: 5/6;
    color: rgba(17, 169, 207, 0.842);  

}

/* .desc{
    color: rgba(17, 169, 207, 0.842);  
} */
.description textarea{
    max-width: none;
    color: rgba(17, 169, 207, 0.842);  
}