.background {
    width: 100%;
    height: 100%;
    /* background-image: url(../images/mau.jpg); */
    /* background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(176,176,176,1) 30%); */
}
.navBar{
    display:flex;
    width:100%;
    height: 80px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    /* background: #af67eb; */
    background: linear-gradient(0deg, rgb(240, 147, 234) 10%, rgb(109, 23, 131) 30%);
}
.rechargeHome{
    position: static;
    
}
.logo{
    position: absolute;
    height:80px;
    width:80px;
    left: 300px;
    top: 20px;
    border-radius: 30px;
    border: solid 2px #c182eb;
}
.searchBar{
    display: flex;
    width: 500px;
    justify-content: center;
    border: solid 2px #c182eb;
    border-radius: 20px;
    background-color: #289bc817;
}
.inputSearch{
    height:25px;
    width: 400px;
    border: none;
    padding-left: 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: 0;
}
.buttonSearch{
    height:27px;
    width: 100px;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    background-color: #289bc817;
    color: rgb(106, 202, 202);
}
.buttonSearch:hover{
    background-color: rgb(170, 239, 248);
    color:#dba8eb;
}
.createLink{
    text-decoration: none;
    width: 152px;
    padding:8px;
    position: absolute;
    top: 35px;
    right: 250px;
    border-radius: 10px;
    background-color: #289bc817;
    color: rgb(106, 202, 202);
    border: solid 2px #c182eb;
    transition: 500ms;
    border: solid 2px #c182eb;
}
.createLink:hover{
    background-color: rgb(170, 239, 248);
    color:#dba8eb;
}
.createLink:active{
    transform: scale(0.9);
}
.ctnOrders{
    background: #289bc8ed;
    background: linear-gradient(0deg, rgb(15, 193, 238) 10%, rgb(240, 147, 234)  100%);
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
    color:rgb(109, 23, 131);
    /* border: solid 2px #c182eb; */
    padding: 10px;
}
h5{
    font-size: 20px;
}
.orderBy{
    width: 200px;
    padding: 0px 20px;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: rgb(170, 239, 248);
    color:#dba8eb;

}
.order{
    width: 200px;
    padding: 0px 20px;
    margin-left: 30px;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: rgb(170, 239, 248);
    color:#dba8eb;

}
.filter{
    width: 200px;
    padding: 0px 20px;
    margin-left: 30px;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: rgb(170, 239, 248);
    color:#dba8eb;

}
.orderName{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputOrder{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    outline: 0;
    background-color: rgb(109, 23, 131);
    color: rgb(106, 202, 202);
}
.options{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #289bc855;
}
.buttonPag{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: rgb(109, 23, 131);
    color: rgb(106, 202, 202);
    border: solid 2px #c182eb;
}
.prevButton{
    display: flex;
    justify-content: center;
    /* background-color: #000000; */
    /* border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; */
    /* border: none; */
    width: 100px;
    font-size: 50px;
    cursor: pointer;
    border: solid 2px #c182eb;
    border-radius: 20px;
    background-color: #289bc817;
    color: rgb(106, 202, 202);
}
.prevButton:hover{
    background-color: rgb(170, 239, 248);
    color:#dba8eb;
    transition: 500ms;
}
.prevButton:active{
    transform: scale(0.9);
}
.nextButton{
    display: flex;
    justify-content: center;
    /* border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; */
    /* border: none;
    width: 150px;
    font-size: 50px;
    background-color: #000000;
    color: #FFF;
    border: solid 2px #c182eb;
    cursor: pointer; */
    width: 100px;
    font-size: 50px;
    cursor: pointer;
    border: solid 2px #c182eb;
    border-radius: 20px;
    background-color: #289bc817;
    color: rgb(106, 202, 202);
}
.nextButton:hover{
    background-color: rgb(170, 239, 248);
    color:#dba8eb;
    transition: 500ms;
}
.nextButton:active{
    transform: scale(0.9);
}
.upButton {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% ;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 50px;
    width: 100px;
    font-size: 50px;
    cursor: pointer;
    border: solid 2px #c182eb;
    border-radius: 20px;
    background-color: #289bc817;
    color: rgb(106, 202, 202);
    font-size: 40px;
    transition: all 300ms ease;
    transform: scale(0)
}
.upButton:hover {
    background-color: rgb(170, 239, 248);
    color:#dba8eb;
    transition: 500ms;
}
.cards {
    width: 80%;
    margin-left:100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 18px;
    padding: 15px;
}

.link{
    text-decoration: none;
    height: 390px;
    width: 280px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 40px;
}