
/* .button {
    position: fixed;
    top: 250px;
    height: 32px;
    width: 150px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    font-weight: bold;
    border: 2px solid #7821bf;
    color: rgb(180, 52, 231);
    background: rgb(233, 142, 213);
    border-radius: 12px;
    cursor: pointer;
  }
  
  .button:hover {
    background: #76c3f0;
  } */
.NavLink{
    text-decoration: none;
}

.yani{
    font-family: 'Press Start 2P', cursive;
    position: static;
    display: flex;
    height: 100px;
    background-clip: border-box;
    color:#dba8eb;
    background: linear-gradient(0deg, rgb(15, 193, 238) 10%, rgb(240, 147, 234)  100%);
    /* background-color: #289bc817; */
    color: rgb(106, 202, 202);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 0%;
    margin-right: 40%;
    margin-top: 10%;  
    /* background: linear-gradient(0deg, rgb(240, 147, 234) 10%, rgb(109, 23, 131) 30%); */
    align-items: center;
    justify-content: center;
    font-size: 35px ;
  }
.landing {
    font-family: 'Press Start 2P', cursive;
    /* backdrop-filter: blur(1px); */
    flex-direction: center;
    position: absolute;
    height: 100vh;
    width: 100vw; 
    color: rgb(106, 202, 202);
    /* margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0; */
    /* position: absol; */
    /* width: 150%;
    height: 500%; */
    /* font-family: 'Press Start 2P', cursive; */
    /* background: rgb(99, 19, 173); */
}
.button {
    font-family: 'Press Start 2P', cursive;
    position: static;
    display: flex;
    height: 80px;
    background-clip: border-box;
    /* background-color: rgb(170, 239, 248); */
    color:#c856eb;
    background: linear-gradient(0deg, rgb(15, 193, 238) 10%, rgb(240, 147, 234)  100%);
    /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); */
    /* background: linear-gradient(0deg, rgb(15, 193, 238) 10%, rgb(240, 147, 234)  100%); */
    /* background-color: #289bc817; */
    color: rgb(16, 192, 192);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 40%;
    margin-top: 10%;
    padding: 50px;
    border-radius: 30%;
    font-size: 80px ;
    transition: 500ms;
}
.button:hover {
    transform:scale(1.1);
    background-clip: border-box;
    background: rgb(99, 19, 173);
    box-shadow: 0px 5px #8c40ca;
    /* box-shadow: 0px 5px #a6c1ee; */
    background: linear-gradient(0deg, rgb(240, 147, 234) 10%, rgb(109, 23, 131) 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.button:active{
    transform: scale(0.9);
}